* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
main {
  z-index: 1;
}
header.menu-top {
  max-width: 1269px;
  height: 7.5vh;
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 1px 1px 1px 1px#cecece;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo i {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0.4rem;
}
.nav ul {
  display: flex;
  margin-top: 5px;
  list-style: none;
}
.nav ul li {
  padding: 0.5rem 2rem;
  font-size: 16pt;
  text-transform: uppercase;
}
.link {
  display: block;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 0px 2px 6px 2px #cecece;
  color: #fff;
}
.login a {
  color: #fff;
}
.login:hover {
  border: thin solid #667eea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login a:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link:hover {
  background: #667eea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link a:hover * {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* home  */
.slider {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.slides {
  display: block;
  width: 8000px;
  height: 400px;
  list-style: none;
}
.slide {
  float: left;
  height: 400px;
  width: 1269px;
}
/* 404.php */
.notFound {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}
.notFound i {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.notFound h2 {
  font-size: 32px;
  color: #764ba2;
}
.notFound h3 {
  font-size: 24px;
  color: #667eea;
}
@media (max-width: 1200px) {
  header.menu-top {
    margin: 4px 20px;
  }
}

/* medias queries */
@media (max-width: 768px) {
  header.menu-top {
    flex-wrap: wrap;
  }
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
  }
  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before {
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
  }
  nav {
    display: none;
    z-index: 2;
  }
  nav.active {
    display: block;
    width: 100%;
    box-shadow: 2px 2px 6px 2px #cecece;
    z-index: 2;
  }
  nav.active ul {
    display: block;
    text-align: center;
  }
}
/* conexoes  */

.conexoes {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.aside-conexoes {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}
.aside-title {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22pt;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.aside-body {
  height: 100%;
}
.card {
  width: 99%;
  height: 30%;
  margin: 5px 0;
  box-shadow: 2px 2px 4px 2px #cecece;
  display: flex;
  flex-direction: column;
}
.card-title {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
.card-title > h2 {
  font-size: 16pt;
}
.card-title > span {
  font-size: 16pt;
  font-weight: 300;
}
.card-body {
  display: flex;
}

.card-body img {
  width: 30%;
  border-radius: 12px;
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
}
.card-body img:hover {
  width: 50%;
  z-index: 2;
}
.card-body > h3 {
  display: block;
  z-index: 1;
  font-size: 14pt;
  font-weight: 300;
  margin-left: 0.4rem;
}
